*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0 auto;
  line-height: 1.5;

}

ul,
ol {
  list-style: none;
}

.App {
  display: flex;
  padding: 30px;
  max-width: 100%;
  width: auto;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  .active-filter {
    background-color: darkcyan;
    border-radius: 5px;
  }
  .is-done {
    opacity: 0.5;
  }
  .list{
    border: 2px solid white;
    padding: 10px;
    background-color: lightslategray;
    border-radius: 15px;
    min-height: 280px;
    max-width: 230px;
    box-shadow:
            inset 0 -3em 3em rgba(0, 0, 0, 0.1),
            0 0 0 2px dimgray,
            0.3em 0.3em 1em rgba(0, 0, 0, 0.3);
  }

}


.App > div {
}
